<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.manhvdse61952.vrc_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.layout.login.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.layout.login.LoginActivity" android:screenOrientation="portrait"></activity>
        <activity
            android:name=".controller.layout.signup.customer.SignupUserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.layout.signup.customer.SignupAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.layout.signup.customer.SignupRoleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.layout.signup.customer.SignupPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.layout.signup.owner.SignupOwnerOne"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.layout.signup.owner.SignupOwnerPolicy"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.layout.vehicle.showdetail.VehicleDetail"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <activity
            android:name=".controller.layout.main.MainActivity"
            android:label="@string/title_activity_main_2"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key" />
        <activity android:name=".controller.layout.main.MapsActivity" android:label="@string/title_activity_maps" android:screenOrientation="portrait" />
        <activity android:name=".controller.layout.signup.owner.RegistVehicle" android:screenOrientation="portrait" />
        <activity android:name=".controller.layout.vehicle.showdetail.CalendarCustom" android:screenOrientation="portrait" />
        <activity android:name=".controller.layout.contract.ContractDetail" android:screenOrientation="portrait"/>
        <activity android:name=".controller.layout.vehicle.manage.ManageVehicleActivity" android:screenOrientation="portrait"/>
        <activity android:name=".controller.layout.contract.ManageContractActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.layout.order.PaypalExecute" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.layout.contract.ContractPreFinishCustomer" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.layout.contract.ContractPreFinishOwner" android:screenOrientation="portrait"></activity>
        <service android:name=".controller.notify.MyFCMClass">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".controller.layout.signup.owner.SearchVehicleInfoActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.layout.contract.ContractComplainActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.layout.contract.ContractComplainChat" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.layout.vehicle.manage.UpdateVehicle" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.layout.vehicle.manage.SearchAddressVehicle" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.layout.account.UpdateAccount" android:screenOrientation="portrait"></activity>
        <activity android:name=".controller.layout.promotion.PromotionActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>